body {
    margin:0 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    padding:0vw 10vw 1vw;
    font-size: 24px;
}

nav {
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #303233;    
    font-size: 2em;
    color:white;
    z-index: 2;
 
}
.navLink{
    padding: .5% 1%;
    background-color: #303233;
}
nav a {
    text-decoration: none;
    color:white;
}
.currentPage {
    background-color: #a3a3a3;
    color:black;
 
}
.navLink:hover {
   
    background-color: #6699CC;
    color:black;
    border:none;
}


a {
    color: #003B6D;
}
footer {
    color: #7e7e7e;
    text-align: center;
    padding: 15px 0;
}

.guideGrid {
    text-align: center;
    padding: 20px;
    z-index: 1;
    border-bottom:2px solid #303233;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}
.gridContainerHero {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;
}
.imageCard {
    position: relative;
    overflow: hidden;
}

.imageCard img {
    width: 100%;
    height: auto;
    display: block;
}
.gridContainer a:hover {
    border:3px solid #303233;
}

.caption {
    position: absolute;
    bottom: 15px;
    left:20%;
    right:20%;
    background: #303233;
    color: white;
    padding: 5px 0;
    border-radius: 10px;
    font-size: 1.3em;
}
@media (max-width:800px) {
    nav {
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    .navLink {
        width: 100%; 
        text-align: center; 
    }
    main {
     
        padding-left:0;
    }
    .gridContainerHero {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
 
    }
}